# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# VSCode settings
.vscode/

# Mac OS
.DS_Store

# Env files
.env
.env.*

# Local development artifacts
*.sqlite3
*.db

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Docker
*.tar
docker-compose.override.yml

# Git
.git/
.gitignore

# Build output
build/
dist/
*.egg-info/

# Other IDEs
.idea/
*.iml

# Cache
.cache/
