# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pip cache
pip-log.txt
pip-delete-this-directory.txt

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# FastAPI / Uvicorn logs
*.log

# dotenv environment variables file
.env

# FAISS indexes — keep index.pkl but ignore everything else to avoid large unnecessary files
faiss_index_krcl1/*
!faiss_index_krcl1/index.pkl

faiss_manual_krcl1/*
!faiss_manual_krcl1/index.pkl

# Docker related
__pycache__/
*.db
*.sqlite3

# Miscellaneous
*.DS_Store
*.swp
